
.boards {
	display: flex;
	gap: 200px;
	justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 80px);
  grid-gap: 5px;
  background-color: #fff;
  color: #444;
  width: 800px;
}

.square {
	box-sizing: border-box;
  background-color: #444;
  color: #fff;
  padding: 20px;
  font-size: 1em;
  width: 80px;
  height:80px;
  text-align: center;
}