
h1 {
	text-align: center;
}

.boards {
	display: flex;
	gap: 200px;
	justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 80px);
  grid-gap: 5px;
  background-color: #fff;
  color: lightgray;
  width: 800px;
}

.ships {
	margin-top: 30px;
	display: flex;
	gap: 50px;
	justify-content: center;
}

.square {
	display: flex;
	box-sizing: border-box;
  background-color: lightblue;
  color: #fff;
  padding: 10px;
  font-size: 1em;
  width: 80px;
  height:80px;
  text-align: center;
}

.ship {
	width: 100px;
}
